.container {
  max-width: 100%;
  margin: 0 auto;
}

.card {
  background: linear-gradient(
    179.4deg,
    rgba(253, 240, 233, 0.7) 2.2%,
    rgba(255, 194, 203, 0.7) 96.2%
  );
}

.outline {
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 10px;
}

body {
  font-weight: 500;
  text-transform: capitalize;
}

#currTemp {
  display: inline;
  font-size: 80px;
}

#day,
#date,
#time {
  font-size: 25px;
  margin-bottom: 0;
}

#src-code-sign-off {
  text-align: center;
  padding-top: 20px;
}

.search {
  padding: 0px 20px 20px 0px;
}

.col-sm-6 {
  padding-bottom: 20px;
}

.left-card,
.right-card {
  background: rgba(255, 255, 255, 0.1);
}

.forecast-card {
  background: rgba(255, 255, 255, 0.1);
}

.btn {
  width: 90px;
  height: 37px;
  font-size: 10px;
  position: relative;
  top: -2px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#location {
  font-size: 50px;
  margin-top: 10px auto;
}

.unit {
  position: relative;
  font-size: 16px;
  top: -44px;
}

.tempIcon {
  font-size: 40px;
}

.forecast-col {
  text-align: center;
}

.weather-forecast-temperature-min {
  opacity: 50%;
}
