.outline {
  margin: 0 auto;
  padding: 20px;
}

ul.weather-forecast {
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
}

ul {
  list-style-type: none;
  text-align: center;
}

body {
  font-weight: 500;
  text-transform: capitalize;
}

#currTemp {
  display: inline;
  font-size: 80px;
}

#day,
#date,
#time {
  font-size: 25px;
  margin-bottom: 0;
}

#src-code-sign-off {
  text-align: center;
}

.left-card {
  width: 90%;
}

.right-card {
  position: relative;
  width: 115%;
  left: -40px;
}
.search {
  padding: 10px 0px 0px 10px;
}

.col-sm-6 {
  padding-bottom: 20px;
}

.btn-info {
  width: 60px;
  height: 37px;
  font-size: 10px;
}

#location {
  font-size: 50px;
  margin-top: 10px auto;
}

.unit {
  position: relative;
  font-size: 16px;
  top: -44px;
}

#cel:hover,
#fah:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.card-header {
  font-size: 15px;
  text-align: center;
}

.forecast-emoji {
  font-size: 40px;
}
